*.exe
*.swp
__pycache__/
*.py[cod]
venv/
.env
envfile
models/
models
memory.db
memory.db-*
memory/*.db
memory/*.db-*
background_worker.lock
memory/*.lock
communication/*.db
communication/*.db-*
temp/*
